# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.Po

*.Plo

ThirdParty/shapelib/.libs
ThirdParty/shapelib/contrib/.libs
ThirdParty/shapelib/config.log

ThirdParty/shapelib/config.status

ThirdParty/shapelib/contrib/dbfcat

ThirdParty/shapelib/shputils

ThirdParty/shapelib/shptreedump

ThirdParty/shapelib/shptest

ThirdParty/shapelib/shprewind

ThirdParty/shapelib/shpdump

ThirdParty/shapelib/shpcreate

ThirdParty/shapelib/shpadd

ThirdParty/shapelib/shapelib.pc

ThirdParty/shapelib/Makefile

ThirdParty/shapelib/libtool

ThirdParty/shapelib/dbfdump

ThirdParty/shapelib/dbfcreate

ThirdParty/shapelib/dbfadd

ThirdParty/shapelib/contrib/shpwkb

ThirdParty/shapelib/contrib/shpsort

ThirdParty/shapelib/contrib/shpproj

ThirdParty/shapelib/contrib/shpinfo

ThirdParty/shapelib/contrib/shpfix

ThirdParty/shapelib/contrib/shpdxf

ThirdParty/shapelib/contrib/shpdata

ThirdParty/shapelib/contrib/shpcentrd

ThirdParty/shapelib/contrib/shpcat

ThirdParty/shapelib/contrib/Shape_PointInPoly

ThirdParty/shapelib/contrib/Makefile

ThirdParty/shapelib/contrib/dbfinfo

*.kvs

App/Test/Test
